@page "/"

<PageTitle>Home</PageTitle>

@if (OverviewData is null)
{
    <h2>Loading articles..</h2>
}
else
{
    <div class="CoursesBoxLayout">
        @foreach (var course in OverviewData.Courses)
        {
            <div class="CourseBox" style="background-color: @course.Color">
                <h1>@course.Title</h1>
                @foreach (var session in course.Sessions)
                {
                    <div class="SessionBox">
                        <h3>@(session.SessionNumber). @session.Title</h3>
                        <ol>
                            @foreach (var learningPath in session.LearningPaths)
                            {
                                <li>
                                    <div class="LearningPathBox">
                                        <button
                                            type="button"
                                            class="LearningPathButton"
                                            @onclick='() => NavigateToArticle("TroelsMortensen", learningPath.Url)'>
                                            @learningPath.Title
                                        </button>
                                    </div>
                                </li>
                            }

                        </ol>
                    </div>
                }
            </div>

        }
        <div class="CourseBox" style="background-color: #ffe17f">
            <h1>Stuff</h1>
            <div class="SessionBox">
                <ol>
                    <li>
                        <div class="LearningPathBox">
                            <button
                                type="button"
                                class="LearningPathButton"
                                @onclick="NavigateToWheel">
                                Wheel of Fortune
                            </button>
                        </div>
                    </li>
                </ol>
            </div>
        </div>
    </div>
}